#titulo1 {
  position: absolute;
  width: 546px;
  height: 130px;
  left: 352px;
  top: 10;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 115px;
  line-height: 118.5%;
  /* or 136px */

  display: flex;
  align-items: center;

  color: #663128;

  font-size: 96px;
  font-weight: 800;
  line-height: 114px;
  letter-spacing: 0em;
  text-align: left;
}

#titulo2 {
  position: absolute;
  width: 556px;
  height: 135px;
  left: 352px;
  top: 13%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 85px;
  line-height: 118.5%;

  display: flex;
  align-items: center;

  color: #663128;
}

body {
  background-image: url(Fundo.png);
  background-color: #fef4de;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

#textoqualquer {
  position: absolute;
  width: 552px;
  height: 72px;
  left: 352px;
  top: 42%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  color: #663128;
}

#abut {
  position: absolute;
  width: 82px;
  height: 24px;
  left: 612px;
  top: 57%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;

  display: flex;
  align-items: center;

  color: #663128;
}

#urso {
  position: absolute;
  top: 20%;
  left: 62%;
  width: 30%;
  height: 60%;
}

#botao {
  position: absolute;
  left: 25%;
  top: 57%;
  width: 15%;
  height: 70px;
  border-radius: 56px;
  border-color: #f3ce5e;
  background-color: #f3ce5e;
}

#Textbotao {
  color: #663128;
  font-size: 1.5em;
  font-weight: bold;
}

#Borda1 {
  position: absolute;
  width: 100%;
  height: 10%;
  background-color: #663128;
  top: 0%;
  left: 0%;
  clip-path: polygon(0% 0%, 50% 100%, 50% 100%, 0% 100%);
  transform: rotate(-180deg);
}

#Borda2 {
  position: absolute;
  width: 100%;
  height: 31%;
  background-color: #663128;
  top: 90%;
  left: 0%;
  clip-path: polygon(0% 0%, 90% 104%, 0% 100%, 0% 100%);
}

.Pagina2 {
  background-color: #663128;
  height: 160vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 100%;
}

#botao2 {
  position: absolute;
  left: 42%;
  top: 263%;
  width: 15%;
  height: 70px;
  border-radius: 56px;
  border-color: #f3ce5e;
  background-color: #f3ce5e;
}

#serv {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  color: aliceblue;
  text-align: center;
}

.Pag3 {
  background-image: url(Fundo.png);
  background-color: #fef4de;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.Pagina3 {
  display: flex;
  height: 100vh;
  background-image: url(Fundo.png);
  background-color: #fef4de;
  align-items: center;
  flex-direction: column;
}

.Pagina3 {
  display: flex;
  height: 145vh;
  background-image: url(Fundo.png);
  background-color: #fef4de;
  align-items: center;
  flex-direction: column;
}

#Tit3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 96px;
  color: #663128;
  margin-top: 5%;
}

#Retangulos {
  display: flex;
  gap: 150px;
  margin-top: 1%;
}

#Retangulos2 {
  margin-top: 2%;
  display: flex;
  gap: 150px;
}

.Retangulo {
  width: 512px;
  height: 220px;
  border: 1px solid #7c4032;
  border-radius: 30px;
  background-color: white;
}

.kat {
  color: #7c4032;
  font-weight: 900;
  font-size: 1.2em;
  line-height: 14px;
  font-family: "Poppins", sans-serif;
  width: 325px;
  padding: 20px 40px;
}

.textmaluco {
  font-family: "Poppins", sans-serif;
  width: 412px;
  height: 80px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0px 40px;
}

#Botao3 {
  font-size: 1vw;
  width: 13vw;
  height: 4vw;
  border-radius: 57px;
  margin-top: 30px;
  color: #7c4032;
  border: 0;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
  background-color: #f3ce5e;
}

.Vector {
  padding: 0px 0px;
}
.Pagina4 {
  display: flex;
  height: 110vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tudo {
  display: flex;
  margin-top: 4em;
  gap: 7em;
}
#esquerda {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.campos {
  width: 374px;
  height: 56px;
  left: 558px;
  top: 2700px;
  background: #e6af99;
  border-radius: 61px;
  align-items: left;
}
#textfooter {
  font-weight: 900;
  font-size: 74px;
  line-height: 96px;
  font-family: "Poppins", sans-serif;
  color: #7c4032;
  padding: 15px;
}
#botao4 {
  font-size: 1vw;
  width: 9vw;
  height: 4vw;
  border-radius: 57px;
  margin-top: 15px;
  top: 3500px;
  margin: 5px;
  color: #7c4032;
  background-color: #ffffff;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
  border-color: #7c4032;
}

#Gmail {
  display: flex;
  gap: 2em;
  margin-top: 0em;
}

#Telefone {
  display: flex;
  gap: 0em;
  margin-top: 2em;
}

#Gps {
  display: flex;
  gap: 2em;
  margin-top: 2em;
}
#Borda3 {
  width: 100%;
  height: 100%;
  background-color: #663128;
  top: 3600px;
}
